/* font-family 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wgh@300;700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto';
    font-style: normal;
}
.container {
    width: 96%;
    margin: 0 auto;
}
nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;    
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;     
}
.nav-container {
    display: flex;
    justify-content: space-between;
}
.ul1 {
    display: none;
}
.firm {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.spn {
    font-weight: 400;
    font-size: 18px;
    margin: 20px; 
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.disabled {
    cursor: not-allowed;     
}
header {
    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    color: #FFFFFF;
}
.header-container {
    height: 100vh;
    font-weight: 700;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.introduction {
    height: 46.11px;
    font-size: 36px;
}
.introduction1 {
    width: 276px;
    padding: 75px 0px;
    height: 23.13px;  
    font-size: 18px;
  }
.oft {
    border: 3px solid #FFFFFF;
    font-size: 18px;
    padding: 10px 57px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 1s;
    transition-property: all;
}
.oft:hover {
    background-color: white;
    color: black;    
}
.section1 {
    background-color: #F1F1F1;
    width: 100%;
    padding: 50px 0px;   
}
.specialists {
    display: flex;
    justify-content: center;
    height: 35px;
    font-weight: 700;
    font-size: 36px;
    color: #152D41;
    padding-bottom: 78px;
}
.ul2 {
    align-items: center;
    color: #000000;
}
.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipse {
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background-image: url(pies1.jpg);
    background-size: cover;
}
.ellipse1 {
    background-image: url(pies2.png);    
}
.text {
    font-weight: 700;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}
.section2 {
    background-color: #405D78;
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-content: center;
}
.servises {
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
}
.servises1 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;  
    gap: 60px;       
}
.box {
    width: 198px;
    height: 193.78px;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    transition-property: all;
}
.box:hover {
    transform: scale(1.05);  
}
.box:nth-of-type(1) {
    position: relative;
}
.service {
    width: 149px;
    height: 67px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.ellipse3{
    position: absolute;
    display: flex;
    top: -11px;
    left: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #E07A64;   
}
footer {
    width: 100%;
    height: 147px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;  
}
.container1 {
    width: 96%;
    margin: 0 auto;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ul3 {
    display: flex;
    list-style-type: none;
    align-items: center;
}
i {
    color: #FFFFFF;
    zoom: 170%;
    padding: 10px;
}
@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
    }
    .employee {
        flex-direction: row;
        align-items: none;
    }
    .employee:nth-last-of-type(odd) {
        flex-direction: row-reverse;
    }
    .servises1 {
        width: 960px;
    }
    .ul1 {
        display: flex;   
        align-items: center;
    }
    .introduction {
        width: 577px;
    }
    .text {
        width: 700px;
        padding: 30px 0 0 50px;
    }
    .text-align-right {
        text-align: right;
        padding: 30px 50px 0 0;
    }
    .servises {
        width: 501px;
        margin-bottom: 30px;
        font-size: 36px;
        justify-content: left;
    } 
    .container1 {
        width: 960px;
    } 
    .specialists {
        justify-content: left;
    }
    footer {
        height: 71px;
    } 
    .footer-container {
        flex-direction: row;
    }
    i {
        zoom: normal;
        margin: 18px;
    }                  
}
@media screen and (min-width: 768px) {
    .ul1 {
        display: flex;
    }
    .employee {
        flex-direction: row;
        align-items: none;
    }
    .employee:nth-last-of-type(odd) {
        flex-direction: row-reverse;
    }
    .text {
        width: 500px;
        padding: 30px 0 0 40px;
    }
    .text-align-right {
        padding: 30px 40px 0 0;
    }
    .specialists {
        padding-bottom: 20px;
    }
    .introduction {
        width: 500px;
    }
    footer {
        height: 100px;
    } 
}